@import url("./styles/Chart.css");
@import url("./styles/Dashboard.css");
@import url("./styles/CropDetails.css");
@import url("./styles/Tracking.css");
@import url("./styles/Home.css");
@import url("./styles/PredictProduction.css");

.district {
  position: absolute;
  top: 22px;
}
.season {
  position: absolute;
  top: 22px;
}

/* .button {
  background-color: #982eab;
  color: white;
  font-size: 22px;
  border-radius: 4px;
} */

.Navbar {
  height: var(--navHeight);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  position: relative;
}

.Navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 90%;
  /* border-bottom: 1px solid var(--gray); */
}

.Navbar > .logo > h1 {
  color: var(--greenLogo);
}

.navRight {
  color: whitesmoke;
  display: flex;
  align-items: center;
  gap: 20px;
}

.authButton {
  padding: 10px 20px;
  background-color: var(--green);
  border-radius: 3px;
  border-style: none;
  color: whitesmoke;
  cursor: pointer;
  font-weight: 600;
}
